
#loginBody {

    background-image: url('../../assets//imgs/darkImg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
   
    justify-content: center; 
    align-items: center;

}
#sup{
    background-color: #26b3a4;
    border-radius: 25px;
   
}
#sup:hover{
    background-color: #1f8177;
}
 #jumbo{
     width: 50%;
    background:#292929;
    opacity: .97;
    color: #000000;
    /* min-height: 50vh;
    max-width: 140vh; */

}
.transparent {
    background-color:transparent;
}
/* @media only screen and (max-width: 400px) {
    #jumbo{
        width: 95%;
        margin-top: 60px;
    
    
    }
      } */


/* 
@font-face {
    font-family: LEMONMILK;
    src: url(../../assets/font/LEMONMILK-Regular.otf);
 
  }



@font-face{
    font-family: LEMONMILKLITE;
    src: url(../../assets/font/LEMONMILK-Light.otf);
} */
.fontMe{
    
    font-family: "LEMONMILK"
    /* 'Courier New', Courier, monospace */
}

input{
    background-color: #f9f9f9;
    /* font-family: "LEMONMILKLITE"; */

}
/* Verdana, Geneva, Tahoma, sans-serif */
.colorMe{
    color: #f9f9f9;
 }
 #logo{
    /* margin-left:15px; */
  max-width: 100px;
  max-height: 100px;
  
}
