
#loginBody {

    background-image: url('../../assets//imgs/backgroundImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
   
    justify-content: center;
    align-items: center;

}
#sup{
    background-color: #26b3a4;
    border-radius: 25px;
   
}
#sup:hover{
    background-color: #1f8177;
}
 #jumbo{
     
    background:#292929;
    opacity: .97;
    color: #000000;
    min-height: 50vh;
    max-width: 140vh;

}


input{
    background-color: #f9f9f9;

}
.fontMe{
    
    font-family: 'Courier New', Courier, monospace 
}
/* Verdana, Geneva, Tahoma, sans-serif */
.colorMe{
    color: #f9f9f9;
 }
