

#loginBody {

    background-image: url('../../assets//imgs/darkImg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
   
    justify-content: center;
    align-items: center;

}
.transparent {
    background-color:transparent;
}

 #jumbo{
     width:50%;
    background:#292929;
    opacity: .97;
    color: #000000;
    }
    /* min-height: 50vh;
    max-width: 140vh; */

    #logo{
        margin: 10px;
        /* margin-left:30%; */
      max-width: 175px;
      max-height: 175px;
      
    }
    
/* ipad */

@media only screen and (min-device-width :642px) and (max-device-width : 768px) {
    #jumbo{
      margin-left: 200px;
   
       
   }
   #logo{
       
    max-width: 150px;
    max-height: 150px;
   }
    }
/* smart phone */
    @media only screen and (min-device-width :320px) and (max-device-width : 642px) {
        #jumbo{
         width: 95%;
       
           
       }
       #logo{
        margin: 5px;
        max-width: 100px;
        max-height: 100px;
       }
      
        }
    


#sup2{
    border-radius: 25px;
}

#sup{
    background-color: #26b3a4;
    border-radius: 25px;
    
}
#sup:hover{
    background-color: #1f8177;
}
input{
    background-color: #f9f9f9;

}

@font-face {
    font-family: LEMONMILK;
    src: url(../../assets/font/LEMONMILK-Regular.otf);
    
  }


@font-face {
    font-family: LEMONMILKLITE;
    src: url(../../assets/font/LEMONMILK-Light.otf);
    
  }

.fontMe{
    
    font-family: "LEMONMILK"
    /* 'Courier New', Courier, monospace */
}
.fontMeSmall{
    
    font-family: "LEMONMILKLITE"
    /* 'Courier New', Courier, monospace */
}
/* Verdana, Geneva, Tahoma, sans-serif */
.colorMe{
   color: #f9f9f9;
}


