

#loginBody {

    background-image: url('../../assets//imgs/backgroundImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
   
    justify-content: center;
    align-items: center;

}
.transparent {
    background-color:transparent;
}

 #jumbo{
     width:75%;
    background:#292929;
    opacity: .97;
    color: #000000;
    min-height: 50vh;
    max-width: 140vh;

    
}

@media only screen and (max-width: 400px) {
    #jumbo{
        width: 95%;
    
    
    }
      }
#sup2{
    border-radius: 25px;
}

#sup{
    background-color: #26b3a4;
    border-radius: 25px;
    
}
#sup:hover{
    background-color: #1f8177;
}
input{
    background-color: #f9f9f9;

}

@font-face {
    font-family: LEMONMILK;
    src: url(../../assets/font/LEMONMILK-Regular.otf);
    
  }


@font-face {
    font-family: LEMONMILKLITE;
    src: url(../../assets/font/LEMONMILK-Light.otf);
    
  }

.fontMe{
    
    font-family: "LEMONMILK"
    /* 'Courier New', Courier, monospace */
}
.fontMeSmall{
    
    font-family: "LEMONMILKLITE"
    /* 'Courier New', Courier, monospace */
}
/* Verdana, Geneva, Tahoma, sans-serif */
.colorMe{
   color: #f9f9f9;
}


