#navie {
    background-color: #292929;
    opacity: .92;
    height: 100%;
    /* position: fixed; */



}

#overflow {
    height: 200px;
    width: auto;
    overflow-y: scroll;

}

#savedFavoriteStock:hover {
    background-color: #26b3a4;
    cursor: pointer;
}

.hoverMe:hover {
    background-color: #26b3a4;
}

/* Style buttons */
#deleteFavoriteStock {
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#deleteFavoriteStock:hover {
    color: #26b3a4;
}

.tabs {
    margin-left: 5px;
}



#Logoo {
    margin-top: 5px;
    margin-bottom: 5px;
    /* margin-left: 5%; */
    max-width: 75px;
    max-height: 75px;
}




/* ipad */

@media only screen and (min-device-width :642px) and (max-device-width : 768px) {
    .tabs {
        margin-left: 0px;
    }

    #homeLogo {

        max-width: 100px;
        max-height: 100px;
    }
}

/* smart phone */
@media only screen and (min-device-width :320px) and (max-device-width : 642px) {
    .tabs {
        margin-left: 0px;
    }

    #logo {

        max-width: 100px;
        max-height: 100px;
    }

}
